/* index.css */

.form-content {
  max-width: 800px; /* Define a largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário na página */
  padding: 20px;
}

.form-group {
  margin-bottom: 15px; /* Espaçamento entre os grupos de formulários */
}

button {
  margin-top: 20px; /* Espaçamento acima do botão */
}

.button-spacing {
  margin: 8px; /* Adicione a margem desejada */
}
